.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
}

#status,#number_of_objects,#start_model
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
    margin-top: 55px;
    border-radius: 25px;
}

body{
    background-position: center;
    background-size: cover;
}

a{
    float: right;
    font-size: 22px !important;
    margin: 5px;
    background:#5cc7ed;
    cursor: pointer;
    color: white;
}

a:hover{
    color: rgb(165, 226, 245) !important;
}